name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    strategy:
      matrix:
        lambda: [catalogs, notifications, sales]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push image
        working-directory: ./${{ matrix.lambda }}
        run: |
          IMAGE="${{ steps.ecr.outputs.registry }}/${{ matrix.lambda }}:${{ github.sha }}"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"
          aws lambda update-function-code \
            --function-name ${{ matrix.lambda }} \
            --image-uri "$IMAGE" \
            --region ${{ secrets.AWS_REGION }}
